<h1>Edit trade</h1>

<form action="/trades/<%= trade["id"]%>" method = "post">
<input type="hidden" name="_method" value="patch">
<label for="">Date of Trade</label>
<input type="date" name = "trade_date" value="<%= trade["trade_date"]%>">
<label for="">Type of trade (BUY or SELL)</label>
<input type="text" name = "trade_type" value="<%=trade["trade_type"]%>">
<label for="">Amount of Bitcoin</label>
<input type="number" step="any" name = "amount" value="<%=trade["amount"]%>">
<label for="">Price/Bitcoin ($US)</label>
<input type="number"  step="any" name = "price" value="<%=trade["price"]%>">
<button>Save</button>
</form>

<form action="/trades/<%= trade["id"]%>" method = "post">
<input type="hidden" name = "_method" value = "delete">
<button>Delete trade</button>
</form>