<h2>Current price of Bitcoin: $<%= current_price_usd %></h2>


<% if logged_in? %>

    <h1>Bitcoin Portfolio</h1>
    <p>Your current holdings: <%= amount_total %> BTC</p>


    <div class="trade-grid" style="display:grid;grid-template-columns:repeat(6,125px [col-start]);">
    <p class="bold">Date</p>
    <p class="bold">Type</p>
    <p class="bold">Amount</p>
    <p class="bold">Price ($US)</p>
    <p class="bold">Total ($US)</p>
    <p></p>

    <% trades.each do |trade| %>

        <% if current_user()['id'] == trade['user_id']%>
            <p><%= trade['trade_date'] %></p>
            <p><%= trade['trade_type'] %></p>
            <p><%= trade['amount'] %> BTC</p>
            <p>$<%= trade['price'] %></p>
            <p>$<%= trade['total'] %></p>
            <a href="/trades/<%=trade['id']%>/edit"><p>edit</p></a>
        <% end %>

    <% end %>

    </div>

    <a href="/trades/new">Add trade</a>

<% else %>

    <p>No information available</p>

<% end %>